@page "/logout"

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager

<h3>Logout</h3>

@code {
    protected override void OnParametersSet()
    {
        if (AuthenticationStateProvider is UserAuthenticationStateProvider auth)
        {
            auth.Logout();
        }

        NavigationManager.NavigateTo("login");
    }
}
